body {
    font-family: monospace;
    text-align: center;
    width: 100vw;
    background: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f2f2f2;
}

canvas {
    border: 10px double #f2f2f2;
    border-radius: 5px;
}